<!doctype html>
<html lang="en" data-framework="marionettejs">
	<head>
		<meta charset="UTF-8">
		<title>Backbone Marionette Application</title>
	</head>
	<body>
		<div style="background: #E3E5E8;"><a href="/">Index</a> | <a href="cbs.html">Code Beer Startups</a> | <a href="#testRoute">Test Route</a> | <a href="#product/23">Product 23</a></div>
		<script src="assets/js/lib/backbone.marionette/jquery.js"></script>
		<script src="assets/js/lib/backbone.marionette/json2.js"></script>
		<script src="assets/js/lib/backbone.marionette/underscore.js"></script>
		<script src="assets/js/lib/backbone.marionette/backbone.js"></script>
		<!--
		<script src="assets/js/lib/backbone.marionette/backbone.marionette.js"></script>
		-->
		<script src="assets/js/cbs.js"></script>
		<script id="personTemplate" type="text/template">
			<strong><%= name %></strong> (<%= age %>) [<%= sex %>]
		</script>
	</body>
</html>